<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script type="text/javascript">
    // setup some JSON to use
    var cars = [
        { "make": "Porsche", "model": "911S" },
        { "make": "Mercedes-Benz", "model": "220SE" },
        { "make": "Jaguar", "model": "Mark VII" }
    ];

    var cars2 = JSON.stringify(cars);

    window.onload = function () {
        // setup the button click
        document.getElementById("theButton").onclick = function () {
            doWork()
        };
    }

    function doWork() {
        // ajax the JSON to the server
        // $.post("receiver", cars, function () {

        //});
        // stop link reloading the page

        // $.post("receiver",
        //     cars2,
        //     function (response) {
        //         console.log(response);
        //     }
        // );


        $.ajax({
            url: 'load_dataset',
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                console.log(data);
            }
        })

        event.preventDefault();
    }
</script>

This will send data using AJAX to Python:<br /><br />
<a href="" id="theButton">Click Me</a>